@{
    ViewData["Title"] = "Cards";
}

@model List<GetCard>

<div class="text-center">
    <h1 class="display-4">Cards</h1>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Key</th>
                <th>Name</th>
                <th>Text</th>
                <th>Collection</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var card in Model) {
                    <tr>
                        <td>
                            <a asp-action="ByKey" asp-route-key="@card.Key">@card.Key</a>
                        </td>
                        <td>@card.Name</td>
                        <td>@card.Text</td>
                        <td>@card.Collection</td>
                        <td>
                            <a href="@card.ImageUrl">
                                <img 
                                    src="@card.ImageUrl" 
                                    alt="-" 
                                    class="img-fluid"
                                    style="width: 320px"
                                >
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-action="Delete" asp-route-key="@card.Key">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <a class="btn btn-primary" asp-action="CreateForm">Create</a>
</div>