@model FSManager.Dto.Cards.GetCardWithRelations

@{
    ViewData["Title"] = $"Card {Model.Name}";
}

<h2>@Model.Name</h2>
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Text</h3>
            <p>@Model.Text</p>
            <p>@Model.Script</p>
        </div>
        <div class="col">
            <img src="@Model.ImageUrl" alt="-" class="img-fluid" style="width: 320px">
        </div>
    </div>
</div>

<h3>Related cards</h3>
<div class="container-fluid">
    @{
        Console.WriteLine(Model.Relations[0].Card);
        foreach (var relation in Model.Relations) {
            <a asp-action="ByKey" asp-route-key="@relation.Card.Key">
                <img src="@relation.Card.ImageUrl" alt="">
            </a>
        }
    }
</div>